<!DOCTYPE html>
<html>
<head>
    <title>Business cards</title>
    <style>
        #main {
            display: inline-block;
            text-align: center;
            position: absolute;
            height: 140px;
            width: 300px;
            margin: 0 0 0 -140px;
            left: 50%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</head>


<body id="main">
<h1>Socket.io</h1>
<h2>List of events</h2>
<ul>
    <li>
        <b>event name:</b> 'notifications'
        <br>
        <p><b>usage: </b> event is used for pushing notifications. Event is being emitted <b>only by server </b></p>
        <p><b>returns:</b> { notifications : JSON }</p>

    </li>
</ul>

<h1>Existing web API endpoints</h1>
<h3>Authentication API</h3>
<ul>
    <li><p><b>route: /auth/registration</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json } </p>
        <p><b>body</b> : {
            name : 'francis',
            lastname : 'monday',
            email : 'test@gmail.com'
            } </p>
        <p><b>returns</b> { <b> newUser </b>: newUser }</p>
    </li>
    <li><p><b>route: /auth/userLogin</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json } </p>
        <p><b>body</b> : {
            email : 'test@gmail.com',
            password : 'somePass'
            } </p>
        <p><b>returns</b> {
            id : user.id,
            token : token,
            role : 'user'
            }</p>
    </li>
    <li><p><b>route: /auth/adminLogin</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json } </p>
        <p><b>body</b> : {
            email : 'test@gmail.com',
            password : 'somePass'
            } </p>
        <p><b>returns</b> {
            id : admin.id,
            token : token,
            role : 'admin'
            }</p>
    </li>
    <li><p><b>route: /auth/changeUserPassword</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json Authorization : JWT user accessToken } </p>
        <p><b>body</b> : {
            oldPassword : 'some pass',
            newPassword : 'new pass'
            } </p>
        <p><b>returns</b> {
            message : 'user password has been changed'
            }</p>
    </li>
    <li><p><b>route: /auth/changeAdminPassword</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json Authorization : JWT admin accessToken } </p>
        <p><b>body</b> : {
            oldPassword : 'some pass',
            newPassword : 'new pass'
            } </p>
        <p><b>returns</b> {
            message : 'admin password has been changed'
            }</p>
    </li>
    <li><p><b>route: /auth/forgotUserPassword</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json } </p>
        <p><b>body</b> : {
            email : 'user@gmail.com'
            } </p>
        <p><b>returns</b> {
            message : 'reset link has been sent via email'
            }</p>
    </li>
    <li><p><b>route: /auth/resetUserPassword/:token</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>params:</b> : { token : 'wdawdj12949813dfahwd78y1278' } </p>
        <p><b>returns</b> { message : 'new password has been sent via email' }</p>
    </li>
    <li><p><b>route: /auth/forgotAdminPassword</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json } </p>
        <p><b>body</b> : {
            email : 'admin@gmail.com'
            } </p>
        <p><b>returns</b> {
            message : 'reset link has been sent via email'
            }</p>
    </li>
    <li><p><b>route: /auth/resetAdminPassword/:token</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>params:</b> : { token : 'wdawdj12949813dfahwd78y1278' } </p>
        <p><b>returns</b> { message : 'new password has been sent via email' }</p>
    </li>
</ul>
<h3>Admins API</h3>
<ul>
    <li><p><b>route: /admins/createAdmin</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : admin JWT access token } </p>
        <p><b>body</b> : {
            name : 'admin'
            lastname : 'admin last name'
            email : 'admin@gmail.com',
            password : 'somepass',
            phone : '515-689-233'
            location : 'cracow'
            } </p>
        <p><b>returns</b> { createdAdmin : createdAdmin }</p>
    </li>
</ul>
<h3>Users API</h3>
<ul>
    <li><p><b>route: /users/setProfilePhoto</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : multipart/form-data, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            file : base64
            } </p>
        <p><b>returns</b> {  linkToProfilePhoto : linkToProfilePhoto }</p>
    </li>
    <li><p><b>route: /users/getProfilePhoto/:userId/:photoName</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>params:</b> : { userId : 1,
            photoName : '12awd23-aw' } </p>
        <p><b>returns</b> { file }</p>
    </li>
    <li><p><b>route: /users/buyPattern</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            patternId : 1,
            stripeToken : 'token used for end the payment process',
            currency : 'gbp,usd,pln,eur'
            } </p>
        <p><b>returns</b> {  boughtPattern : pattern, }</p>
    </li>
    <li><p><b>route: /users/addContact</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            userCardId : 1,
            contactCardId : 2
            } </p>
        <p><b>returns</b> { message : 'Cards have been exchanged successfully' }</p>
    </li>
    <li><p><b>route: /users/removeContact</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            userCardId : 1,
            contactCardId : 2
            } </p>
        <p><b>returns</b> { message : 'Contact have been successfully removed' }</p>
    </li>
    <li><p><b>route: /users/getById/:userId/:photoName</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { Authorization : JWT user access token} </p>
        <p><b>query:</b> : { id : 1, } </p>
        <p><b>returns</b> { user : plainUser }</p>
    </li>
    <li><p><b>route: /users/setNotificationAsReadOut</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            notificationId : 1,
            } </p>
        <p><b>returns</b> { updatedNotification : updatedNotification }</p>
    </li>
</ul>
<h3>Rooms API</h3>
<ul>
    <li><p><b>route: /rooms/createRoom</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            name : 'some awesome company name',
            pin : '1234',
            creatorBusinessCardId : 3
            } </p>
        <p><b>returns</b> {  createdRoom : createdRoom }</p>
    </li>
    <li><p><b>route: /rooms/updateRoom</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            id : 1,
            name : 'some awesome company name',
            pin : '1234'
            } </p>
        <p><b>returns</b> { updatedRoom : updatedRoom }</p>
    </li>
    <li><p><b>route: /rooms/joinRoom</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            roomId : 1,
            businessCardId = 2
            pin : '1234'
            } </p>
        <p><b>returns</b> { room : updatedRoom }</p>
    </li>
    <li><p><b>route: /rooms/leaveRoom</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            roomId : 1,
            } </p>
        <p><b>returns</b> { message : 'User with id : 1 has successfully left room with id : 4 }</p>
    </li>
    <h1>below does not work yet</h1>
    <li><p><b>route: /rooms/getRoomById</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { Authorization : JWT user access token} </p>
        <p><b>query:</b> : { id : 1 } </p>
        <p><b>returns</b> { file }</p>
    </li>
    <h1>above does not work yet</h1>
    <li><p><b>route: /rooms/deleteById</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            roomId : 1,
            } </p>
        <p><b>returns</b> {  message : 'Room with id : 2 has been deleted' }</p>
    </li>
</ul>
<h3>Patterns API</h3>
<ul>
    <li><p><b>route: /patterns/createPattern</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : multipart/form-data, Authorization : admin JWT access token } </p>
        <p><b>body</b> : {
            name : 'some awesome pattern',
            price : 22.0,
            files : ['obvers in base64', 'revers in base64']
            } </p>
        <p><b>returns</b> { createdPattern : createdPattern }</p>
    </li>
    <li><p><b>route: /patterns/updatePatternData</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : admin JWT access token } </p>
        <p><b>body</b> : {
            id : 1,
            name : 'some awesome pattern',
            price : 22.0,
            } </p>
        <p><b>returns</b> { updatedPattern : updatedPattern }</p>
    </li>
    <li><p><b>route: /patterns/updatePatternFiles</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : multipart/form-data, Authorization : admin JWT access token } </p>
        <p><b>body</b> : {
            id : 1,
            files : ['obvers in base64', 'revers in base64']
            } </p>
        <p><b>returns</b> { updatedPattern : updatedPattern }</p>
    </li>
    <li><p><b>route: /patterns/getPattern/:patternFileName</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>params:</b> : { patternFileName : 'revers_1_ryxQ9WHf7f' } </p>
        <p><b>returns</b> { file }</p>
    </li>
    <li><p><b>route: /patterns/getPatternById</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>query:</b> : { id : 1 } </p>
        <p><b>returns</b> { pattern : pattern }</p>
    </li>
    <li><p><b>route: /patterns/getAllPatterns</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>query:</b> : { } </p>
        <p><b>returns</b> { patterns : patterns }</p>
    </li>
    <li><p><b>route: /patterns/deleteById</b></p>
        <p><b>method:</b> POST </p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : admin JWT access token } </p>
        <p><b>body</b> : {
            message : 'pattern with id : 2 has been deleted',
            result : result
            } </p>
        <p><b>returns</b> { updatedPattern : updatedPattern }</p>
    </li>
</ul>
<h3>Business Cards API</h3>
<ul>
    <li><p><b>route: /businessCards/createBusinessCard</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            colors : JSON({color : #123123, fullfilment : 30})
            CompanyDetailsId : 1
            } </p>
        <p><b>returns</b> { createdBusinessCard : createdBusinessCard }</p>
    </li>
    <li><p><b>route: /businessCards/updateBusinessCard</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            id : 1,
            colors : JSON({color : #123123, fullfilment : 30})
            CompanyDetailsId : 1
            } </p>
        <p><b>returns</b> { updatedBusinessCard : updatedBusinessCard }</p>
    </li>
    <li><p><b>route: /businessCards/setPattern</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            businessCardId : 1,
            patternId : 2
            } </p>
        <p><b>returns</b> { message : 'Pattern with id : 1 has been associated with business card - id : 2 }</p>
    </li>
    <li><p><b>route: /businessCards/getBusinessCardContactsIds</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { Authorization : user JWT access token } </p>
        <p><b>query</b> : {
            id : 1
            } </p>
        <p><b>returns</b> { contacts : contactsToBeReturn }</p>
    </li>
    <li><p><b>route: /businessCards/getBusinessCardById</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { Authorization : user JWT access token } </p>
        <p><b>query</b> : {
            id : 1
            } </p>
        <p><b>returns</b> { businessCard : businessCard }</p>
    </li>
    <li><p><b>route: /businessCards/deleteById</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            businessCardId : 1,
            patternId : 2
            } </p>
        <p><b>returns</b> { message : 'Business card with id : 1 has been deleted',
            result : result }</p>
    </li>
</ul>
<h3>Companies Details API</h3>
<ul>
    <li><p><b>route: /companiesDetails/createCompanyDetails</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            name : 'some awesome company name',
            role : 'CTO',
            website : 'https://www.somewebsite.com',
            phone : '111-222-333',
            address : 'Bysina 32',
            NIP : '1111111111',
            REGON : '222222222222',
            KRS : '3333333333333',
            description : 'some super extra company description'
            } </p>
        <p><b>returns</b> {  createdCompanyDetails : createdCompanyDetails }</p>
    </li>
    <li><p><b>route: /companiesDetails/updateCompanyDetails</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            id : 1,
            name : 'some awesome company name',
            role : 'CTO',
            website : 'https://www.somewebsite.com',
            phone : '111-222-333',
            address : 'Bysina 32',
            NIP : '1111111111',
            REGON : '222222222222',
            KRS : '3333333333333',
            description : 'some super extra company description'
            } </p>
        <p><b>returns</b> { updatedCompanyDetails : updatedCompanyDetails }</p>
    </li>
    <li><p><b>route: /companiesDetails/getCompanyDetailsById</b></p>
        <p><b>method:</b> GET</p>
        <p><b>headers</b> : { } </p>
        <p><b>query</b> : {
            id : 1
            } </p>
        <p><b>returns</b> { companyDetails : companyDetails }</p>
    </li>
    <li><p><b>route: /companiesDetails/deleteById</b></p>
        <p><b>method:</b> POST</p>
        <p><b>headers</b> : {Content-Type : application/json, Authorization : user JWT access token } </p>
        <p><b>body</b> : {
            id : 1,

            } </p>
        <p><b>returns</b> { message : 'Company details with id : 3 has been deleted',
            result : result }</p>
    </li>
</ul>

</body>

<script>

</script>
</html>